body{
  margin: 0;
}


.top{
  background-color: blue;
  height: 200px;
  width: 200px;
  padding: 20px;
  border: solid 10px;
}
.middle{
  background-color: red;
  height: 200px;
  width: 200px;
  border: solid 20px;
  margin-left: 260px;
}
.bottom{
  background-color: green;
  height: 200px;
  width: 200px;
  border: solid 10px;
  margin-left: 500px;
}
